*{
    margin: 0;
}

header{
    background-color: black;
    width: 100%;
    position: sticky;
    height: 90px;   
    top: 0;
    z-index: 1;
}

#logo{
    position: absolute;
    margin-top: 10px;
}

.meniu{
    float: right;
    margin-top: 50px;
    margin-right: 20px;
}

nav li{
    display: inline-block;
    margin-right: 40px;
    
}

nav li a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}

nav li a:hover{
   background-color: rgb(190, 33, 33);
}

nav li:first-child a{
    background-color: rgb(190, 33, 33);
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover  {
    background-color:rgb(190, 33, 33);
}
  
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 0px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 18px;
}

.miniimg{
    height: 18px;
    width: 18px;
    vertical-align: middle;
    margin-right: 5px;
    margin-left:2px;
}