

.titlu{
    text-align: center;
    padding-top: 18px;
    padding-bottom: 10px;
}

.spatiu_text1{
    border: rgb(49, 48, 48);
    border-style: double;
    background-color:wheat;
    width: 100%;
    min-height: 140px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
}

.spatiu_text2{
    border: rgb(49, 48, 48);
    border-style: double;
    background-color:rgb(250, 232, 129);
    width: 100%;    
    min-height: 140px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    position: relative;
   
}

.img{
   margin-left: 10px;
   max-height: 100px;
   max-width: 120px;
   width: auto;
   height: auto;
   margin-top: auto;
   margin-bottom: auto;   
}

.img2{
    margin-right: 10px;
    max-height: 100px;
    max-width: 120px;
    width: auto;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;   
}

.p1{ 
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    text-indent: 30px;
    text-align: justify;
}

.p2{
    margin-right: 10px;
    margin-left: 10px;
    font-size: 20px;
    text-indent: 30px;
    text-align: justify;
}

@media only screen and (max-width: 1024px), screen and (max-height: 700px) {

    .spatiu_text2, .spatiu_text1{
        flex-direction: column;
    }

    .p1, .p2{
        font-size: 15px;
        margin-bottom: 10px;
    }
 
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.comment {
    left: 3%;
    position: relative;
    width: 90%;
    height: 150px;
    padding: 10px;
    background-color: #d0e2bc;
}

input[type=text], input[type=mail]{
    position: relative;
    left:3%;
    display: block;
    box-sizing: border-box;
    border:1px solid rgb(71, 70, 70);
    padding: 12px 20px;
}
label{
    position: relative;
    left:4%;
}
.logBott{
    left:4.5%;
    position: relative;
    background-color:green;
    color:white;
    width:90%;
    height:50px;
    border:none;
    margin:10px 0;
    padding: 14 px 20px;
}
.form-comment{
    
    position: absolute;
    align-content: center;
    background-color:rgb(243, 236, 222);
    width: 50%;
    border: 1px solid;
    box-shadow: 5px 12px 10px 12px #888888;
    border-radius: 25px; 
    margin-bottom: 50px;
	margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    
}
h2{
    position: relative;
    text-align: center;
}


.buton-verif{
    margin-left:40%;
    margin-right: 40%;
    width: 20%;
    margin-top: 20px;
	margin-bottom: 20px;
    background-color: green;
}


.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
  position: sticky;
  top: 90px;
  z-index: 1;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background: #4caf50;
  width: 0%;
}




