*{
    margin: 0;
}


.titlu-partea-dreapta{
    border: 1px solid black;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h3{
	margin-left: 10px;
}

p{
    padding:.3em .5em .1em 2em;
    white-space: normal;
    text-indent: 20px;
}

.tip_a{
   padding-left: 3em;
   list-style-type: lower-alpha;
}

li{
    padding:.3em .2em .1em 0em;
}

.buton-verif{
    margin-left:40%;
    margin-right: 40%;
    width: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: green;
}

.progress-container {
  width: 100%;
  height: 10px;
  background: #ccc;
  position: fixed;
  z-index: 1;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 10px;
  background: #4caf50;
  width: 0%;
}