*{
    box-sizing: border-box;
}

body{
    background-color: azure;
}

.formular{
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 20px;
    background-color: cadetblue;
    padding: 20px;
    width: 60%;
}
  
input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-size: 20px;
}
    
.camp-label {
    float: left;
    width: 20%;
    margin-top: 6px;
}
  
.camp-input {
    float: left;
    width: 60%;
    margin-top: 6px;
}
  
.rand:after {
    content: "";
    display: table;
    clear: both;
}

input[type=submit] {
    background-color: rgb(64, 139, 67);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}
  
@media screen and (max-width: 600px) {
    .camp-label, .camp-input, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
}