*{
    margin: 0;
}
.prezentare{
    width: 100%;
    height: 700px;   
    margin-top: 10px;
    text-align: center;
    position: relative;
}

.prezentare img{
    height: 700px;
    width: 100%;
    border-radius: 20px;
}

@media screen and (max-width: 800px) {

    .prezentare{
        height: 300px;    
    }

    .prezentare img{
        height: 300px;
        width: 100%;
        border-radius: 20px;
    }
}


.titlu {
    top: 10%;
    left: 0;
    right: 0;
    font-size: 4vw;
    position: absolute;
    color: black;
    text-shadow: 1px 1px white;
}

.next {
    right: 0;
}

.prev {
    left: 0;
}
  
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
}

.dot {
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;

}

.dots{
    bottom: 25px;
    text-align: center;
    position: relative;
}
  
  .active, .dot:hover {
    background-color: #717171;
  }


  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .8} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .8} 
    to {opacity: 1}
  }
  
  
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
 
  }


.mySlides:nth-of-type(2) .titlu{
    margin-left:75%;
}


.mySlides:nth-of-type(3) .titlu{
    margin-right:75%;
}

@media only screen and (max-width: 1024px) {
    .mySlides:nth-of-type(2) .titlu{
        margin-left:60%;
    }
}

.titlu-mediu{
    text-align: center;
}
 

.mediu{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.mediu  > .box{
    border: 2px solid black;
    text-align: center;
    margin: 20px;
    margin-bottom: -10px;
    font-size: 20px;
    height: 400px;
    width: 360px;
    position: relative;
}

.img-box{
    width: 100%; 
    height: 350px;
    opacity: 0.8;
}


.box:hover{
    cursor: pointer;
}

.box:nth-child(2){
    margin-right:10px;
    margin-left: 10px;
}

.img-box:hover{
    opacity: 1;
}

.title-box{
    width: 100%; 
    height: 50px;
    position: absolute;
    bottom: 0;
    background-color: rgb(190, 33, 33);
    opacity: 1;
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;  
}

a{
    text-decoration: none;
    color: black;
}

.progress-bar{
    margin-top:20px;
    width: 80%;
    background-color: grey;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.bar{
  width: 0%;
  height: 30px;
  background-color: green;
  text-align: center;
  line-height: 30px;
  color:black;
  
}

#about{
    background-color: rgb(238, 235, 235);
    width: 100%;
    min-height: 300px;
    height: auto;
    margin-top: 30px;
    display: flex;
    position: relative;
    flex-direction: column;
    
  
}

#about h2{
    font-size: 25px;
    margin-left: 10%;
    text-decoration: underline;
    padding: 20px;
    
}

#about p{
    font-size: 20px;
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
    line-height: 30px; 
}

.contor{
    background-color: yellowgreen;
    width: 100%;
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 10px;
}

.tbl{
    align-self: center;
    width: 80%;
    font-size: 30px;
}

/*---------------------*/

.buton-reset{
    position: absolute;
    width: 100%;
    height: 60px;
    text-align: center;  
    top: 40%;
    z-index: -1;
}

.buton-reset input {
    display: none;
    height: 60px;
    width: 100%;
    opacity: 0.8;
    cursor: pointer;
}

.box:hover input {
    display: none;
}

@media screen and (max-width: 800px) {
    .mediu  > .box{
        height: 300px;
        width: 260px;
    }

    .img-box{
        width: 100%; 
        height: 250px;
        opacity: 0.8;
    }

    #about h2{
        font-size: 20px;
    }

    #about p{
        font-size: 15px;
        line-height: 25px; 
    }

    .tbl{
        font-size: 25px;
    }
}

@media screen and (max-width: 365px) {
    .mediu  > .box{
        height: 220px;
        width: 180px;
    }

    .img-box{
        width: 100%; 
        height: 170px;
        opacity: 0.8;
    }

    #about h2{
        font-size: 15px;
    }

    #about p{
        font-size: 10px;
        line-height: 15px; 
    }

    .tbl{
        font-size: 15px;
        width: 95%;
    }

}



@media screen and (max-width: 460px) {
    .mediu  > .box{
        height: 240px;
        width: 200px;
    }

    .img-box{
        width: 100%; 
        height: 190px;
        opacity: 0.8;
    }

    #about h2{
        font-size: 18px;
    }

    #about p{
        font-size: 13px;
        line-height: 20px; 
    }

    .tbl{
        font-size: 20px;
    }
}




