body{
    background-color:rgb(243, 236, 222);
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    text-align: center;
}

input[type=text], input[type=password]{
    display: block;
    box-sizing: border-box;
    border:1px solid #ccc;
    padding: 12px 20px;
    margin-bottom: 10px;
}

label{
    margin-bottom: 10px;
    display: inline-block;
}

form{
    background-color:white;
    max-width: 500px;
    width: auto;
    min-height: 420px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    border:5px solid rgb(31, 2, 2);
    padding:16px;
}

.logButton, .registerButton{
    background-color:darkblue;
    color:white;
    width:100%;
    border:none;
    margin:10px 0;
    padding: 12px 20px;
}

.register{
    background-color:green;
    width: auto;
    padding:15px 20px;   
}

button:hover {
    opacity: 0.8;
}

.question{
    right: 3%;
    padding-bottom: 12px;
}

h3{
    text-align: center;
    text-size-adjust: 1px;
}

/*
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
     
       width: 100%;
    }
  }
    