*{
    margin: 0;
}

header{
    background-color: black;
    width: 100%;
    position: sticky;
    height: 90px;   
    top: 0;
    z-index: 1;
}

#logo{
    position: absolute;
    margin-top: 10px;
}

.meniu{
    float: right;
    margin-top: 50px;
    margin-right: 20px;
}

nav li{
    display: inline-block;
    margin-right: 40px;
    
}

nav li a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}

nav li a:hover{
   background-color: rgb(190, 33, 33);
}

nav li:first-child a{
    background-color: rgb(190, 33, 33);
}


.dropdown-content{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover  {
    background-color:rgb(190, 33, 33);
  }
  

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 0px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 18px;
  }

.miniimg{
    height: 18px;
    width: 18px;
    vertical-align: middle;
    margin-right: 5px;
    margin-left:2px;
}

#categorii{
    background-color: rgb(238, 235, 235);
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.flex-container{
   display: flex;
   flex-flow: row wrap;
   align-items: center;
   justify-content: center;
}

.flex-container  > .box{
    border: 2px solid black;
    text-align: center;
    margin: 20px;
    font-size: 20px;
    height: 350px;
    width: 280px;
    position: relative;
}

.img-box{
    width: 100%; 
    height: 100%;
    opacity: 0.9;
}

/*
 box-shadow: 0 4px 8px 0 green, 0 6px 8px 0 blue;
 transform: scale(1.02);
*/

.title-box{
    border-top: 2px solid black;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgb(190, 33, 33);
    text-align: center;  
    display: table-cell;
    vertical-align: middle;
}

a{
    text-decoration: none;
    color: black;
}

.img-box:hover{
    opacity: 1;
    box-shadow: 0 4px 8px 0 green, 0 6px 8px 0 blue;
}

